<section ng-controller="PollsController">
  <div class="container">
  <div class="page-header text-center">
    <h1>New Poll</h1>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <form name="pollForm" class="form-horizontal" ng-submit="create(pollForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="pollForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Poll title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors ng-repeat="choice in choices.type">
          <label for="options_{{$index}}">Option {{$index+1}}</label>
          <input name="options_{{$index}}" ng-model="choice.name" id="options_{{$index}}" class="form-control" placeholder="Option" required>
          <div ng-messages="pollForm['options_' + $index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Option is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default" ng-submit="pollForm.$valid" novalidate>
          <button type="button" class="btn btn-success" ng-click="addNewChoice()">Add option</button>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
</section>
