<section ng-controller="PollsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="poll.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == poll.user._id">
    <a class="btn btn-primary" ui-sref="polls.edit({pollId: poll._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="poll.created | date:'mediumDate'"></span>
      by
      <span ng-bind="poll.user.displayName"></span>
    </em>
  </small>
    <form ng-hide="voted" ng-submit="save2()">
        <div class="form-group">
            <div class="radio" ng-repeat="typ in poll.options">
                <label>
                    <input type="radio" name="chickenEgg" value="{{$index}}" ng-model="formData.chickenEgg">
                    {{typ.name}}
                </label>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"> Save</span></button>
        </div>
    </form>
    <canvas ng-show="voted" id="doughnut" class="chart chart-doughnut"
            chart-data="data" chart-labels="labels" chart-legend="true">
    </canvas>

</section>
