<div class="header">
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span><br>

            <h1>Poll application</h1>
            <hr class="hrbold">
        </div>
    </div>
</div>
<section ng-controller="HomeController">
    <div class="row text-center">
        <h2>Three easy steps</h2>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="glyphicon glyphicon-edit mgl" aria-hidden="true"></span><br>
            <h4>Create your poll</h4>
            <a class="btn btn-primary" href="#" role="button" ui-sref="polls.create">Create now</a>
        </div>
        <div class="col-sm-4 text-center">
            <span class="glyphicon glyphicon-share mgl" aria-hidden="true"></span><br>
            <h4>Share your poll</h4>
            <a class="btn btn-primary" href="#" role="button" ui-sref="">Share your polls</a>
        </div>
        <div class="col-sm-4 text-center">
            <span class="glyphicon glyphicon-check mgl" aria-hidden="true"></span><br>
            <h4>Vote on others polls</h4>
            <a class="btn btn-primary" role="button" ui-sref="polls.list">Vote now</a>
        </div>
    </div>
</section>
